.bkgImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
    width: 100vw;
}

.bkgImage {
    z-index: -2;
    background-size: cover;
    background-position: center;
}

.websiteTitle {
    z-index: 2;
    color: rgb(50, 50, 50);
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}